.git
**/.git
.gitignore
*.zip
*.tar
*.tar.gz

sources/*/build
sources/*/build-*
sources/*/cmake-build-*
sources/*/depends/built
sources/*/depends/work
sources/*/depends/sources
sources/**/*.o
sources/**/*.a
sources/**/*.so
sources/**/*.dylib
sources/**/*.dll

bin/
