.git
**/.git
.gitignore
*.zip
*.tar
*.tar.gz

src/*/build
src/*/build-*
src/*/cmake-build-*
src/*/depends/built
src/*/depends/work
src/*/depends/sources
src/**/*.o
src/**/*.a
src/**/*.so
src/**/*.dylib
src/**/*.dll

bin/
